body {
    color: black;
    background-color: #d7d2cb;
    box-shadow: 0 0 10px #777777;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 920px; /* Adding a pixel measurement creates a fixed width */
    margin: 20px; /* Creates padding around perimeter */
    font-family:'Calibri';
}

header {
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 1px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

h1 {
    color: pink;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

nav {
    text-align: center;
    text-transform: uppercase;
    border-top: dashed 1px gray;
}

ul li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
}

article {
    padding: 25px;
    background-color: #ffffff; /* makes the background white */
    border-left: solid 1px black; /* puts a black border along the left side */
    border-right: solid 1px black; /* puts a black border along the right side */
}

footer {
    color: pink;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    background-color: #000000; /* makes the background black */
    border-bottom-left-radius: 15px; /* adds a curved corner */
    border-bottom-right-radius: 15px; /* adds a curved corner */
}

a:link {
    opacity: 1px;
    border: 0.5px dashed lightpink;
    color: lightpink;
    padding: 5px;
}

a:visited {
    opacity: 0.5px;
    border: 0.5px solid lightpink;
    color: pink;
    padding: 5px;
}

a:hover {
    opacity: 1px;
    border: 1px solid lightpink;
    color: hotpink;
    padding: 5px;
}

a:active {
    opacity: 0.5px;
    border: 0.5px solid lightpink;
    color: pink;
    padding: 5px;
}

img {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}